.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.link {
    position: relative;
  }
  .link:before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 80.00px),calc(100% - 80.00px) 100%,0 100%,0 0,10px  10px ,10px calc(100% - 10px),calc(100% - 80.00px - 4.14px) calc(100% - 10px),calc(100% - 10px) calc(100% - 80.00px - 4.14px),calc(100% - 10px) 10px,10px 10px);
  }
  