---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Accomplished web developer with a passion for developing clean, modern, and accessible user interfaces.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Startup Institute"
      subtitle="Web Development Certificate, Startup Institute, Boston, MA"
    >
    <p class="text-sm italic">
      Selected by Startup Institute in a highly competitive process to attend intensive training program focused on developing the core skills in web development to be a high impact employee at a startup.

      Curriculum includes Ruby/Ruby on Rails Essentials, MVC basics, Test Driven Development, Deployment & Scaling, SQL and NoSQL databases, Javascript and AJAX.

    </p>
  </TimeLineElement>
    <TimeLineElement
      title="Boston University"
      subtitle="Candidate for Master's in Computer Science, Boston University Metropolitan College, Boston, MA"
    >
      <p class="text-sm italic">Courses include: Web Application Development (CS 601), Intro to Computer Science with Java (CS 232), Data Structures with Java (CS 232), Data Structures with Java (CS 342), Discrete Math (CS 248), Computer Systems and Organization (CS 272), Computer Networks (CS 535)</p>
    </TimeLineElement>
    <TimeLineElement
      title="Emmanuel College"
      subtitle="Bachelor of Arts, Business Management, Boston, MA"
    >
  
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Architect, Software Engineering"
      subtitle="01/2022 to Present, Slalom Build, Boston, MA"
    >
      <ul class="flex flex-col gap-3 list-disc ml-4 my-4">
        <li>Served as Architect and Individual Contributor for Financial and Fast Food Industry clients.</li>
        <li>Frontend Lead Developer for Broadridge Financial Solution's Advisor Workstation project. Highlights include: developing Proof of Concept for frontend logging integration with Snowplow using Redux middleware as an event interceptor, developing a CLI tool in Node to scaffold third-party application that integrate with the Workstation framework, and mentoring junior developers on the team.</li>
        <li>Architect for Jersey Mike's Website Redesign project. Led engineering efforts to plan and develop a modern, SSR website for Jersey Mike's. Technologies used include Nuxt 3, Vue 3, Pinia, Histoire/Storybook, Tailwind, MapLibre, Figma, Playwright, GitLab CI.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="05/2019 to 01/2022, Slalom Build, Boston, MA"
    >
      <ul class="flex flex-col gap-3 list-disc ml-4 my-4">
        <li>Individual Contributor on public and private sector client projects.</li>
        <li>Software Engineer on SAVE, a USCIS VerFuture Program that provides a fast, secure, and efficient verification service for federal, state, and local benefit-granting agencies. Technologies used: React, React Query, GraphQL, TypeScript, single-spa, Jest, Testing Library, Cypress.</li>
        <li>Software Engineer on Eversource's Custom Order management application, used by Eversource customer support representatives for the triage and management of customer orders. Technologies used: React, Redux, GraphQL, ES6+, Jest.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Consultant, Technology Enablement"
      subtitle="10/2016 - 05/2019, Slalom Consulting, Boston, MA"
    >
    <ul class="flex flex-col gap-3 list-disc ml-4 my-4">
      <li>Served as Technology Enablement Consultant across a variety of technology projects in Portland, OR and Seattle, WA.</li>
      <li>Individual contributor on PassPlay, an internal guest pass application for Nike employee store. Technologies used: AngularJS, .NET</li>
      <li>Individual contributor on a Salesforce1 mobile application for brand ambassadors at Nike.</li>
      <li>Part of original development team for Cultivator (www.wearecultivator.com), an internal Nike startup. Developed three distinct modern SPAs, a design tool leveraging NIKEiD (now known as Nike By You). Reverse engineered Nike's e-commerce checkout application to integrate with Cultivator e-commerce platform. Successfully implemented for two pop-up shop contains, resulting in over $300k in revenue.</li>
      <li>Individual contributor, Force.com Frontend Developer, Amazon Partner Network. Rapid prototyping of Salesforce Community portal using both Salesforce Lightning Component and Visualforce Pages.</li>
    </ul>
    </TimeLineElement>
    <TimeLineElement
    title="Senior UI Engineer"
    subtitle="07/2015 - 09/2016, McGraw-Hill Education, Boston, MA"
  >
  <ul class="flex flex-col gap-3 list-disc ml-4 my-4">
    <li>Individual Contributor on EZTest Online, an assessment application to facilitate easier test creation and management.</li>
    <li>Technologies used: HTML5/CSS3/ES5+, Ember.js, qUnit, Jenkins, TravisCI.</li>
  </ul>
  </TimeLineElement>
  <TimeLineElement
  title="Interactive Developer L2"
  subtitle="12/2013 to 07/2015, Sapient Global Markets, Boston, MA"
>
  <ul class="flex flex-col gap-3 list-disc ml-4 my-4">
    <li>Individual Contributor on Fidelity's NetBenefits application. Technologies used: React, AngularJS.</li>
    <li>Individual Contributor on Fidelity's Wealth Management application. Technologies used: HTML5/CSS/JavaScript.</li>
    <li>Collaborated on internal room reservation application, using AngularJS. Contributed to in-house trading application using BackboneJS.</li>
  </ul>
</TimeLineElement>
  </div>

<!--   <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>JavaScript (ES6+)</li>
    <li>Node.js</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>Redux</li>
    <li>Vue 3</li>
    <li>Nuxt 3</li>
    <li>Pinia</li>
    <li>Tailwind</li>
    <li>Vite</li>
    <li>Vitest</li>
  </ul>
</BaseLayout>
